
# Default values set by Immutable
DEPLOYER_ROPSTEN_PRIVATE_KEY=
ALCHEMY_API_KEY=

# Update these before deployment
ETHERSCAN_API_KEY=
DEPLOYER_MAINNET_PRIVATE_KEY=


# The address of the owner of the contract
CONTRACT_OWNER_ADDRESS=
# The name of the contract (e.g. 'Gods Unchained Cards')
CONTRACT_NAME="Gods Unchained Cards"
# The 'symbol' of the contract (a short-form representation e.g. 'GODS')
CONTRACT_SYMBOL="GODS"